:root {
    --bg-color: #361134;
    --form-bg: #B0228C;
    --text-dark: #fff;
    --button-bg: #E56B70;
    --input-bg: #F391A0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-dark);
    margin: 0;
    padding: 20px;
}

header,
footer {
    text-align: center;
    padding: 10px;
}

form {
    background: var(--form-bg);
    padding: 25px;
    border-radius: 12px;
    max-width: 650px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

label,
legend {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: white
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    background-color: var(--input-bg);
    border: 1px solid var(--button-bg);
    border-radius: 6px;
    margin-top: 6px;
    box-sizing: border-box;
}

fieldset {
    border: none;
    margin-top: 20px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 8px;
}

input[type="submit"] {
    margin-top: 25px;
    padding: 12px 24px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #d5575b;
}

footer {
    margin-top: 40px;
    font-size: 0.9rem;
}