:root {
    --primary-color: rgb(11, 70, 11);
    /* Example color for the footer */
    --secondary-color: #fff;
    /* White for text color */
    --hero-height: 60vh;
    --box-padding: 20px;
    --box-border-radius: 8px;
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2rem;
    padding: var(--box-padding);
    text-align: center;
    background: white;
}

body {
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.hero {
    position: relative;
    width: 100%;
    height: var(--hero-height);
    background: url("../images/mybrazl.webp") no-repeat center center/cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--box-padding);
}

.data-box,
.weather-box {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    padding: var(--box-padding);
    border-radius: var(--box-border-radius);
    width: 250px;
    box-shadow: var(--box-shadow);
    z-index: 2;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 15px;
    background: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    bottom: 0;
}

@media (max-width: 768px) {
    .hero {
        height: auto;
        padding: 40px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .data-box,
    .weather-box {
        position: static;
        width: 90%;
        margin-bottom: 10px;
    }
}