@media screen and (min-width: 768px) {
    nav ul {
        display: flex !important;
        flex-direction: row;
        gap: 1rem;
    }

    #menu-toggle {
        display: none;
        /* Hide hamburger on larger screens */
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        /* 3-column layout */
    }
    /* Show navigation links when menu is toggled */
    .show-menu nav ul li {
    display: block;
    }
}

.show-menu {
    display: flex;
}