/* Larger View (temples-large.css) */
@media screen and (min-width: 500px) {
    header {
        background-color: #C490D1;
        color: white;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    nav ul li {
        display: block;
    }
}